{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
        }
      }
    ]
  ],
  "plugins": ["@molehill-ui", "@agney/babel-plugin-goober-css-prop"]
}